{% extends "core/base.html" %}
{% load static %}

{% block content %}

    <div class="my-fixed-width text-center">
        <h2>Contact</h2>
        <h4 class="text-left">Study Lead Investigator:</h4>
        <p class="text-left"><b>Ioannis Paschalidis</b><br>
        <i>Professor of Electrical & Computer, Systems, and Biomedical Engineering, Founding Professor of Computing & Data Sciences,<br>
            Director, Center for Information & Systems Engineering,</i><br>
            <p class="text-left">Address:<br>
            Boston University,<br>
        15 Saint Mary’s St.,<br>
        Boston, MA 02215<br>
        Tel: 617-353-0434<br>
        Email: <a href="mailto:smdamini@bu.edu">yannisp@bu.edu</a><br>
        Personal Site:<a href="https://sites.bu.edu/paschalidis/">sites.bu.edu/paschalidis</a>
        </p></p>
        <br>
        <h4 class="text-left">Study Lead Researcher:</h4>
        <p class="text-left"><b>Samad Amini</b><br>
            Email: <a href="mailto:smdamini@bu.edu">smdamini@bu.edu</a><br>
        <br>
        <p class="text-left">If you have additional questions please contact: Boston University Charles River Campus
        Institutional Review Board (IRB) at 617-358-6115.<br>
        The <a href="https://www.bu.edu/researchsupport/compliance/human-subjects/research-participation/">IRB Office webpage</a>
        has information where you can learn more about being a participant in research, and you can also complete a Participant Feedback Survey.
</p><br>

    </div>
    <br/>

{% endblock %}