{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <div class="my-fixed-width text-center">
        <h2>Paper</h2>
        <ol class="text-left">
                <li>Samad Amini et al. "
                  <a href="https://www.medrxiv.org/content/10.1101/2021.03.06.21253047v1.full">
                      <i>An AI-assisted Online Tool for Cognitive Impairment Detection Using Images from the Clock Drawing Test</i>
                  </a>
                  " submitted to J Alzheimers Dis. 2021
                </li>
        </ol>
    </div>
{% endblock %}