{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <div class="my-fixed-width text-center">
        <h2>Paper</h2>
        <ol class="text-left">
                <li>Amini, S., Zhang, L., Hao, B., Gupta, A., Song, M., Karjadi, C., Lin, H.,  Kolachalama, V.B., Au, R., and Paschalidis, I. C. (2021).
                  <a href="server/core/templates/assets/alzh_JAD_final2.pdf">
                      <i>An Artificial Intelligence-Assisted Method for Dementia Detection Using Images from the Clock Drawing Test.</i>
                  </a>
                  Journal of Alzheimers Disease, 83(2), 581-589. doi:10.3233/JAD-210299
                </li>
        </ol>
    </div>
{% endblock %}